# Google Apps Script Web App URL (스프레드시트 연동)
GOOGLE_SCRIPT_URL=https://script.google.com/macros/s/AKfycbxBe0paLspsjzIjRYVlernDYxt_O2_c07R6nYdTiQUIbI4A0orNrrk3T9oi1ObiBrDiXw/exec

# Meta Pixel ID (/01 페이지용)
NEXT_PUBLIC_META_PIXEL_ID=1038089281989595
